

<div class="foot">
	<div class="follow_on">
		<dl class="friends_link">
			<dt>友情链接</dt>
			<dd>
                            {volist name='link' id='l'}
                            <a href="{$l.url}" target="_blank">{$l.name}</a>
                            {/volist}
                        </dd>
		</dl>
	</div>
	<p class="copyrightzh"><a href="mailto:{_G['mail']}">本站所有音乐均来自互联网搜集，版权为原作者所有，如有侵犯权益，请联系我们删除！</a> <a href="http://www.miitbeian.gov.cn/" target="_blank">{_G['icp']}</a> {_G['stat']}</p>
	<p class="copyrighten">Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> {_G['host']} .All Rights Reserved.</p>
</div>
