<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

<title>半夏音乐</title>

<link href="__HOME_PATH__/css/index.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/tips.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/visitor.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__ROOT____HOME_PATH__/js/jquery.js"></script>
<script type="text/javascript" src="__ROOT____HOME_PATH__/js/menu.js"></script>
<script type="text/javascript" src="__ROOT____HOME_PATH__/js/visitor.js"></script>
<script type="text/javascript" src="__ROOT____HOME_PATH__/js/index.js"></script>
<script type="text/javascript" src="__ROOT____HOME_PATH__/js/lib.js"></script>
<script type="text/javascript">
var in_path = '{['path']}';
var temp_url = '__ROOT____HOME_PATH__/';
var search_url = '{['index.php/search/music/target/']}';
var _menu = 'music';
</script>
</head>
<body>
<div class="frame_top">
	{include file='base/top' /}
	
</div>
<div class="main_frame">
	<div class="layout_2">
		<div class="main_container">
			<div class="mod_focus_show" id="slide">
				<a href="javascript:void(0)" id="btnLeft" class="slide_prev">上一张</a><a href="javascript:void(0)" id="btnRight" class="slide_next">下一张</a>
				<ul class="mod_focus_pic">
                                    {volist name="pic" id="val"}
					<li><img src="{$val.pic}" onclick="window.open('{$val.url}');"></li>
                                    {/volist}
                                       
				</ul>
				<div class="focus_switch" id="ico">
					{volist name="pic" id="val"}
                                       <a style="cursor:pointer">
                                          
                                          
                                               
                                            </a>
                                        {/volist}
				</div>
			</div>
			<div class="mod_first">
				<div class="title">
					<h2>在线首发</h2>
				</div>
				<div class="mod_more">
					<!--{loop special_class count=1 order=asc}-->
                                        <a href="" target="_blank" class="mod_more_link">更多</a>
                                        <!--{/loop special_class}-->
				</div>
				<div class="mod_content">
					<div class="slide_content">
						<ul class="mod_first_list">
							{volist name="a" id="alb"}
							<li>
							<a href="{:url('special',['id'=>$alb['id']])}" target="_blank" class="mod_poster_130" title="{$alb.aname}">
							<img width="130" height="130" src="{$alb.pic}">
							<span class="icon_play" onmouseover="this.className='icon_play icon_play_hover'" onmouseout="this.className='icon_play'"></span>
							<span class="shadow"></span>
							<strong class="album_name">{$alb.aname}</strong>
							<strong class="album_singer">{$alb.sname}</strong>
							</a>
							</li>
							{/volist}
						</ul>
					</div>
				</div>
			</div>
			<div class="mod_mv">
				<div class="title">
					<h2>MV首播</h2>
				</div>
				<div class="mod_more">
					<a href="" target="_blank" class="mod_more_link">更多</a>
				</div>
				<div class="mod_content">
					<div class="slide_content">
						<ul class="mod_mv_list">
							{volist name="mv" id="mv"}
							<li>
							<a href="{:url('video',['id'=>$mv['id']])}" target="_blank" class="mod_poster_160" title="{$mv.m_name}">
							<img src="{$mv.m_pic}">
							<span class="icon_play" onmouseover="this.className='icon_play icon_play_hover'" onmouseout="this.className='icon_play'"></span>
							<span class="icon_today"></span>
							</a>
							<p>
								<a href="{:url('video',['id'=>$mv['id']])}" target="_blank" class="mv_name" title="{video['name']}">{$mv.m_name}</a>
							</p>
							<p>
							{$mv.sname}
							</p>
							<p>
							{$mv.create_time}
							</p>
							</li>
							{/volist}
						</ul>
					</div>
				</div>
			</div>
			<div class="mod_recommend">
				<div class="mod_recommend_1">
					<div class="title">
						<h2>最新推荐</h2>
					</div>
					<div class="mod_t_play">
						<a href="javascript:player_index('player_recommend_1', 'ing');" class="mod_play" title="播放">播放</a><a href="javascript:player_index('player_recommend_1', 'add');" class="mod_add" title="添加">添加</a>
					</div>
                                    
					<div class="mod_content class_songlist">
						<ol class="recommend_list" id="player_recommend_1">
                                                    {volist name="mus" id="val"}
							<!--{loop music count=12}-->
                                                        <input style="display:none" type="checkbox" value="{$val.id}" checked>
							<li onmouseover="this.className='play_hover'" onmouseout="this.className=''">
							<h5 onmouseover="this.className='hover'" onmouseout="this.className=''">
                                                            <span class="music_name"><a href="{:url('music',['id'=>$val['id']])}" target="_blank" title="{$val.name}">{$val.name}</a></span>
							<span class="recommend_singer"><a href="{:url('singer',['id'=>$val['sid']])}" target="_blank" title="{$val.sname}">{$val.sname}</a></span>
							</h5>
							<div class="list_cp">
								<a href="javascript:player_index({$val.id}, 'ing');" title="播放" class="btn_play">播放</a>
                                                                <a href="javascript:player_index({$val.id}, 'add');" title="添加" class="btn_add">添加</a>
                                                                <a href="javascript:create_fav({$val.id});" title="收藏" class="btn_like">收藏</a>
							</div>
							</li>
                                                        {/volist}
							<!--{/loop music}-->
						</ol>
					</div>
				</div>
				<div class="mod_recommend_2">
					<div class="title">
						<h2>最热推荐</h2>
					</div>
					<div class="mod_t_play">
						<a href="javascript:player_index('player_recommend_2', 'ing');" class="mod_play" title="播放">播放</a><a href="javascript:player_index('player_recommend_2', 'add');" class="mod_add" title="添加">添加</a>
					</div>
					<div class="mod_content class_songlist">
						<ol class="recommend_list" id="player_recommend_2">
							<!--{loop music count=12 sort=hits}-->
                                                        {volist name="mus" id="val"}
                                                        <input style="display:none" type="checkbox" value="{$val.id}" checked>
							<li onmouseover="this.className='play_hover'" onmouseout="this.className=''">
							<em>{music['i']}</em>
							<h5 onmouseover="this.className='hover'" onmouseout="this.className=''">
							<span class="music_name"><a href="{:url('minfo',['id'=>$val['id']])}" target="_blank" title="{music['name']}">{$val.name}</a></span>
							<span class="recommend_singer"><a href="{:url('singer',['id'=>$val['sid']])}" target="_blank" title="{music['singername']}">{$val.sname}</a></span>
							</h5>
							<div class="list_cp">
								<a href="javascript:player_index({$val.id}, 'ing');" title="播放" class="btn_play">播放</a>
                                                                <a href="javascript:player_index({$val.id}, 'add');" title="添加" class="btn_add">添加</a>
                                                                <a href="javascript:create_fav({$val.id});" title="收藏" class="btn_like">收藏</a>
							</div>
							</li>
                                                        {/volist}
							
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="side_container">
			<div id="getinfo">
                            {if condition="$Think.session.name neq null"}
                            <div class="mod_user"><div class="mod_content">
                                    <div class="mod_user_info">
                                        <a href="" target="_blank" class="mod_user_photo">
                                            <img src="{$Think.session.pic}" width="50" height="50"></a>
                                            <p class="mod_user_name">
                                                <a href="" target="_blank">{$Think.session.name}</a>
                                            </p>
                                           <p onmouseover="$('#speed_tips').show()" onmouseout="$('#speed_tips').hide()">
                                               {if condition="$Think.session.vip eq 1"}
                                            <a href="" target="_blank">
                                               <img src="__HOME_PATH__/css/svip.png"></a>
                                           </p>
                                                </div>
		<div class="mod_tips" id="speed_tips" style="display: none;">
                    <i class="icon_arrow_top"></i>
                    <p>骚年<br />来一局 <strong>王者 顺带</strong> 续个费啊</p></div>
                                <ul class="mod_user_statistic">
                                    <li><a href="'.rewrite_mode('user.php/music/index/').'" target="_blank">
                                            <strong>1</strong><span>音乐</span></a></li>
                                    <li><a href="" target="_blank">
                                            <strong>2</strong><span>收藏</span></a></li>
                                    <li><a href="" target="_blank">
                                            <strong>{$Think.session.gold}</strong><span>金币</span></a></li>
                                </ul>
	<div class="normal_info">
            <p><a href="" target="_blank" class="openv_btn">上传音乐</a></p></div></div></div>
            {else/}
                <a href="" target="_blank">
                                               <img src="__HOME_PATH__/css/evip.png"></a>
                                           </p>
                                                </div>
		<div class="mod_tips" id="speed_tips" style="display: none;">
                    <i class="icon_arrow_top"></i>
                    <p>普通用户<br />累计开通满 <strong>360</strong> 天自动转年付</p></div>
                                <ul class="mod_user_statistic">
                                    <li><a href="'.rewrite_mode('user.php/music/index/').'" target="_blank">
                                            <strong>1</strong><span>音乐</span></a></li>
                                    <li><a href="" target="_blank">
                                            <strong>2</strong><span>收藏</span></a></li>
                                    <li><a href="" target="_blank">
                                            <strong>{$Think.session.gold}</strong><span>金币</span></a></li>
                                </ul>
	<div class="normal_info">
            <p><a href="{:url('User/userinfo')}" target="_blank" class="openv_btn">个人资料</a></p></div></div></div>
            {/if}
	{else/}
            <div class="mod_login"><a href="{:url('user/login')}" class="btn_login">用户登录</a></div>
        {/if}
			</div>
			<div class="mod_rank">
				<div class="title">
					<h2>巅峰榜</h2>
				</div>
				<div class="mod_t_play">
					<a href="javascript:player_index('rank_list', 'ing');" class="mod_play" title="播放">播放</a><a href="javascript:player_index('rank_list', 'add');" class="mod_add" title="添加">添加</a>
				</div>
				<div class="mod_content">
					<ol class="mod_rank_list" id="rank_list">
						{volist name='top' id='top'}
                                                
                                                
						<li class="rank_top">
						<em>0</em>
						<a class="mod_poster" href="{:url('music',['id'=>$top['id']])}" target="_blank" title="{$top.name}"><img src="{$top.pic}" width="50" height="50"></a>
						<h5 onmouseover="this.className='hover'" onmouseout="this.className=''"><a href="{:url('music',['id'=>$top['id']])}" target="_blank" title="{$top.name}">{$top.name}</a></h5>
						<p>
							<a href="{:url('singer',['id'=>$top['sid']])}" target="_blank" title="{$top.sname}">{$top.sname}</a>
						</p>
						</li>
                                                
						{/volist}
						<!--{loop music count=9 start=2 sort=best}-->
                                                {volist name="tl" id="vl"}
                                                
						<li>
						<em>{music['i']}</em>
						<h5><a href="{:url('music',['id'=>$vl['id']])}" target="_blank" title="{$vl.name}">{$vl.name}</a></h5>
						<p>
							<a href="{:url('singer',['id'=>$vl['sid']])}" target="_blank" title="{$vl.sname}">{$vl.sname}</a>
						</p>
						</li>
                                                {/volist}
						<!--{/loop music}-->
					</ol>
				</div>
			</div>
			<div class="mod_hot_singer">
				<div class="title">
					<h2>热门歌手</h2>
				</div>
				<div class="mod_more">
					<!--{loop singer_class count=1 order=asc}--><a href="" target="_blank" class="mod_more_link">更多</a><!--{/loop singer_class}-->
				</div>
				<div class="mod_content">
					<div class="hot_singer_list">
						<ul>
                                                    {volist name="tsinger" id="s"}
							
							<li>
							<a class="singer_pic" href="{:url('singer',['id'=>$s['sid']])}" target="_blank" title="{$s.sname}"><img src="{$s.spic}" width="50" height="50"></a>
							<a class="singer_name" href="{:url('singer',['id'=>$s['sid']])}" target="_blank" title="{$s.sname}">{$s.sname}</a>
							</li>
							<!--{/loop singer}-->
                                                        {/volist}
						</ul>
					</div>
					<div class="hot_singer_index">
						<ul>
							<!--{loop singer count=12 start=7 sort=hits}-->
							<li><a href="" target="_blank" title="{$s.sname}">{$s.sname}</a></li>
							<!--{/loop singer}-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{include file='base/bottom' /}
{include file='base/tips' /}
{include file='base/visitor' /}
<!--{require 'tips.html'}-->
<!--{require 'visitor.html'}-->
</body>
</html>