<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title> 精选辑 </title>
<meta name="Keywords" content="{_G['keywords']}" />
<meta name="Description" content="{_G['description']}" />
<link href="__HOME_PATH__/css/index.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/album_list.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/tips.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/visitor.css" type="text/css" rel="stylesheet" />
<style type="text/css">
.mod_side_nav .current_{special['classid']}{color:#0c8f44;font-weight:bold;border-left:5px solid #F60}
</style>
<script type="text/javascript" src="__HOME_PATH__/js/jquery.js"></script>
<script type="text/javascript" src="__HOME_PATH__/js/menu.js"></script>

<script type="text/javascript" src="__HOME_PATH__/js/lib.js"></script>
<script type="text/javascript">
var in_path = '__HOME_PATH__/';
var temp_url = "__HOME_PATH__/";
var search_url = '{rewrite['index.php/search/music/target/']}';
var _menu = 'music';
</script>
</head>
<body>
<div class="frame_top">
	{include file='base/top' /}
</div>
<div class="main_frame">
	<div class="layout_1">
		<div class="side_container">
			<div class="mod_side_nav">
				<ul>
					{volist name='res' id='lis'}
                                        <li><a href="{:url('speclass',['id'=>$lis['zid']])}" class="js_nav current_{$lis.zid}">{$lis.name}</a></li>
					{/volist}
				</ul>
			</div>
		</div>
		<div class="main_container">
			<h2 class="album_main_tt">专辑列表</h2>
			<div class="album_index_list">
				<ul id="list">
                                    
                                </ul>
			</div>
			<div class="mod_page">
				<a href="" title="上一页" class="page"><span>&lt;</span></a>
                                <a href="" class="page"><span>首页</span></a>
                                <a href="" class="page"><span>尾页</span></a>
                                <a href="" title="下一页" class="page"><span>&gt;</span></a>
				
			</div>
		</div>
	</div>
</div>
<!--{require 'bottom.html'}-->
<!--{require 'tips.html'}-->
<!--{require 'visitor.html'}-->
</body>
</html>
<script type="text/javascript">
    var list = $('#list');
    var page = $('.page');
    console.log(page);
  $.ajax({
		'type':'get',
		'url':'{:url('speajax')}',
		'data':{page:1},
		'async':true,
		'success':success
	});
   function success(data)
	{
                list.html('');
		var data = JSON.parse(data);
               
		for (var i=0; i<data.info.length; i++) {
                    var zid = data.info[i]['zid'];
                    var pic = data.info[i]['spic'];
                    var aname = data.info[i]['aname'];
                    var sname = data.info[i]['sname'];
		list.append("<li><a href='/index/index/special/id/" +zid+ "' class='mod_poster_130' title='"+aname+"'><img src='" +pic+ "'>\n\
    <span class='icon_play' onmouseover='this.className='icon_play icon_play_hover'' onmouseout='this.className='icon_play''></span></a>\n\
<h5><a href='/index/index/special/id/" +zid+ "'>"+aname+"</a></h5><p><a href='/index/index/special/id/" +zid+ "'>"+sname+"</a></p></li>")	
		}
		page[1].href= 'javascript:test("'+ data.url.first +'")';
		page[0].href= 'javascript:test("'+ data.url.prev +'")';
		page[3].href= 'javascript:test("'+ data.url.next +'")';
		page[2].href= 'javascript:test("'+ data.url.end +'")';
	}
   function test(url)
	{
		$.ajax({
			'type':'get',
			'url':url,
			'data':null,
			'async':true,
			'success':success
		});
	}
</script>