<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>{video['search']} - 搜索MV - {_G['name']}</title>
<meta name="Keywords" content="{_G['keywords']}" />
<meta name="Description" content="{_G['description']}" />
<link href="__HOME_PATH__/css/index.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/search_collect.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/tips.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/visitor.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__HOME_PATH__/js/jquery.js"></script>
<script type="text/javascript" src="__HOME_PATH__/js/menu.js"></script>
<script type="text/javascript" src="__HOME_PATH__/js/visitor.js"></script>
<script type="text/javascript" src="__HOME_PATH__/js/lib.js"></script>
<script type="text/javascript">
var in_path = '{_G['path']}';
var temp_url = '__HOME_PATH__/';
var search_url = '{rewrite['index.php/search/video/target/']}';
var _menu = 'video';
</script>
</head>
<body>
<div class="frame_top">
	{include file='base/top' /}
</div>
<div class="main_frame">
	<div class="mod_soso">
		<div class="soso_box">
			<div class="soso_search">
				<input type="text" value="{video['search']}" class="search_text" id="s_keyword"><input class="go_search" onclick="lib.s_earch('s_keyword');return false;">
			</div>
		</div>
	</div>
	<div class="layout_1">
		<div class="side_container">
			<div class="mod_side_nav">
				<p>
					<a style="cursor:pointer;" href="{:url('search',['con'=>$con])}">单曲</a>
				</p>
				<p>
					<a style="cursor:pointer;" href="{:url('singer_search',['con'=>$con])}">歌手</a>
				</p>
				<p>
					<a style="cursor:pointer;" href="{:url('special_search',['con'=>$con])}">专辑</a>
				</p>
				<p>
					<a class="current">MV</a>
				</p>
			</div>
		</div>
		<div class="main_container">
			<div class="search_mv_frame">
				<div class="search_title no_operation">
					<h2>MV</h2>
				</div>
				<div class="search_mv_list">
					<ul>{volist name='data' id='val'}
						<li>
						<a class="mod_poster_160" href="{video['link']}" target="_blank" title="{$val.m_name}">
                                                    <img src="{$val.m_pic}"><span onmouseover="this.className='icon_play icon_play_hover'" onmouseout="this.className='icon_play'" class="icon_play"></span></a>
						<p>
							<a href="{video['link']}" target="_blank" class="mv_name" title="{video['name']}">{$val.m_name}</a>
						</p>
						<p>
							<a class="singer_name" href="{video['singerlink']}" target="_blank" title="{$val.sname}">{$val.sname}</a>
						</p>
						</li>
					{/volist}</ul>
				</div>
			</div>
			
			<div class="search_time">
				<p>找到相关结果共 {$c} 条</p>
			</div>
		</div>
	</div>
</div>
<!--{require 'bottom.html'}-->
<!--{require 'tips.html'}-->
<!--{require 'visitor.html'}-->
</body>
</html>