			<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div>
									<ul class="ace-thumbnails clearfix">
						{notempty name="list"}
                        {foreach $list as $vo} 
										
										<li style="margin-left: 20px; margin-top: 10px;">
											<a href="" data-rel="colorbox">
												<img style="width:440px; height: 200px;" src="{$vo.pic}" />
											</a>

											<div class="tools tools-bottom">
												
												
												<a href="">
													{$vo.create_time|time_format='Y-m-d'}
												</a>

												<a onclick = "del(id={$vo.id})">
													<i class="ace-icon fa fa-times red"></i>
												</a>
											</div>
										</li>


 							{/foreach}
                        {else/}
                        <td colspan="10" class="text-center">暂时还没有内容! </td>
                        {/notempty}

										

									</ul>
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->