<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>排行榜 - 发现音乐 - {_G['name']}</title>
<meta name="Keywords" content="{_G['keywords']}" />
<meta name="Description" content="{_G['description']}" />
<link href="__HOME_PATH__/css/index.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/rank_index.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/tips.css" type="text/css" rel="stylesheet" />
<link href="__HOME_PATH__/css/visitor.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__HOME_PATH__/js/jquery.js"></script>
<script type="text/javascript" src="__HOME_PATH__/js/menu.js"></script>
<script type="text/javascript" src="__HOME_PATH__/js/visitor.js"></script>
<script type="text/javascript" src="__HOME_PATH__/js/lib.js"></script>
<script type="text/javascript">
var in_path = '{_G['path']}';
var temp_url = '__HOME_PATH__/';
var search_url = '{rewrite['index.php/search/music/target/']}';
var _menu = 'music';
function display_tag(type) {
        if (("#tag_" + type + " ol").is(":hidden")) {
                ("#tag_" + type + " i").removeClass("icon_open");
                ("#tag_" + type + " i").addClass("icon_close");
                ("#tag_" + type + " ol").show();
        } else {
                ("#tag_" + type + " i").removeClass("icon_close");
                ("#tag_" + type + " i").addClass("icon_open");
                ("#tag_" + type + " ol").hide();
        }
}
</script>
</head>
<body>
<div class="frame_top">
	{include file='base/top' /}
</div>
<div class="main_frame">
	<div class="layout_1">
		<div class="side_container">
			<div class="mod_side_nav">
				<ul>
					<li><a href="{rewrite['index.php/page/rank/']}" class="js_nav current">排行榜</a></li>
					
                                        <li><a href="{class['link']}" class="js_nav">个人设置</a></li>
                                        <li><a href="{class['link']}" class="js_nav">个人设置</a></li>
                                         <li><a href="{class['link']}" class="js_nav">个人设置</a></li>
                                          <li><a href="{class['link']}" class="js_nav">个人设置</a></li>
                                           <li><a href="{class['link']}" class="js_nav">个人设置</a></li>
                                            <li><a href="{class['link']}" class="js_nav">个人设置</a></li>
                                
                                
                                </ul>
				
			</div>
		</div>
		<div class="main_container">
			<h2 class="rank_main_tt">排行榜</h2>
			<div class="rank_frame">
				<div class="rank_list">
					<div class="rank_list_title">
						<h3>最新排行&nbsp;&nbsp;</h3>
						<a href="javascript:player_index('rank_new', 'ing');" class="btn_play" title="播放">播放</a><a href="javascript:player_index('rank_new', 'add');" class="btn_add" title="添加">添加</a>
					</div>
					<div class="class_songlist">
						
					</div>
				</div>
				<div class="rank_list">
					
					
				</div>
				<div class="rank_list">
					<div class="rank_list_title">
						<h3>好评排行&nbsp;&nbsp;</h3>
						<a href="javascript:player_index('rank_good', 'ing');" class="btn_play" title="播放">播放</a><a href="javascript:player_index('rank_good', 'add');" class="btn_add" title="添加">添加</a>
					</div>
					<div class="class_songlist">
						<ol id="rank_good">
							<!--{loop music count=10 sort=goodhits}--><input style="display:none" type="checkbox" value="{music['id']}" checked>
							<li onmouseover="this.className='play_hover'" onmouseout="this.className=''">
							<span class="rank_up"></span>
							<div class="music_info">
							<span class="music_name"><a href="{music['link']}" target="_blank" title="{music['name']}">{music['name']}</a></span>
							<span class="singer_name"><a href="{music['singerlink']}" target="_blank" title="{music['singername']}">{music['singername']}</a></span>
							</div>
							<div class="list_cp">
								<a href="javascript:player_index({music['id']}, 'ing');" title="播放" class="btn_play">播放</a><a href="javascript:player_index({music['id']}, 'add');" title="添加" class="btn_add">添加</a><a href="javascript:create_fav({music['id']});" title="收藏" class="btn_like">收藏</a>
							</div>
							</li>
							<!--{/loop music}-->
						</ol>
					</div>
				</div>
				<div class="rank_list">
					<div class="rank_list_title">
						<h3>差评排行&nbsp;&nbsp;</h3>
						<a href="javascript:player_index('rank_bad', 'ing');" class="btn_play" title="播放">播放</a><a href="javascript:player_index('rank_bad', 'add');" class="btn_add" title="添加">添加</a>
					</div>
					<div class="class_songlist">
						<ol id="rank_bad">
							<!--{loop music count=10 sort=badhits}--><input style="display:none" type="checkbox" value="{music['id']}" checked>
							<li onmouseover="this.className='play_hover'" onmouseout="this.className=''">
							<span class="rank_down"></span>
							<div class="music_info">
							<span class="music_name"><a href="{music['link']}" target="_blank" title="{music['name']}">{music['name']}</a></span>
							<span class="singer_name"><a href="{music['singerlink']}" target="_blank" title="{music['singername']}">{music['singername']}</a></span>
							</div>
							<div class="list_cp">
								<a href="javascript:player_index({music['id']}, 'ing');" title="播放" class="btn_play">播放</a><a href="javascript:player_index({music['id']}, 'add');" title="添加" class="btn_add">添加</a><a href="javascript:create_fav({music['id']});" title="收藏" class="btn_like">收藏</a>
							</div>
							</li>
							<!--{/loop music}-->
						</ol>
					</div>
				</div>
				<div class="rank_list">
					<div class="rank_list_title">
						<h3>收藏排行&nbsp;&nbsp;</h3>
						<a href="javascript:player_index('rank_fav', 'ing');" class="btn_play" title="播放">播放</a><a href="javascript:player_index('rank_fav', 'add');" class="btn_add" title="添加">添加</a>
					</div>
					<div class="class_songlist">
						<ol id="rank_fav">
							<!--{loop music count=10 sort=favhits}--><input style="display:none" type="checkbox" value="{music['id']}" checked>
							<li onmouseover="this.className='play_hover'" onmouseout="this.className=''">
							<div class="music_info">
							<span class="music_name"><a href="{music['link']}" target="_blank" title="{music['name']}">{music['name']}</a></span>
							<span class="singer_name"><a href="{music['singerlink']}" target="_blank" title="{music['singername']}">{music['singername']}</a></span>
							</div>
							<div class="list_cp">
								<a href="javascript:player_index({music['id']}, 'ing');" title="播放" class="btn_play">播放</a><a href="javascript:player_index({music['id']}, 'add');" title="添加" class="btn_add">添加</a><a href="javascript:create_fav({music['id']});" title="收藏" class="btn_like">收藏</a>
							</div>
							</li>
							<!--{/loop music}-->
						</ol>
					</div>
				</div>
				<div class="rank_list">
					<div class="rank_list_title">
						<h3>下载排行&nbsp;&nbsp;</h3>
						<a href="javascript:player_index('rank_down', 'ing');" class="btn_play" title="播放">播放</a><a href="javascript:player_index('rank_down', 'add');" class="btn_add" title="添加">添加</a>
					</div>
					<div class="class_songlist">
						<ol id="rank_down">
							<!--{loop music count=10 sort=downhits}--><input style="display:none" type="checkbox" value="{music['id']}" checked>
							<li onmouseover="this.className='play_hover'" onmouseout="this.className=''">
							<div class="music_info">
							<span class="music_name"><a href="{music['link']}" target="_blank" title="{music['name']}">{music['name']}</a></span>
							<span class="singer_name"><a href="{music['singerlink']}" target="_blank" title="{music['singername']}">{music['singername']}</a></span>
							</div>
							<div class="list_cp">
								<a href="javascript:player_index({music['id']}, 'ing');" title="播放" class="btn_play">播放</a><a href="javascript:player_index({music['id']}, 'add');" title="添加" class="btn_add">添加</a><a href="javascript:create_fav({music['id']});" title="收藏" class="btn_like">收藏</a>
							</div>
							</li>
							<!--{/loop music}-->
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{include file='base/bottom' /}
{include file='base/tips' /}
{include file='base/visitor' /}
</body>
</html>